@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flip-up {
  0% {
    opacity: 0.5;
    transform: translateY(3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pure-flip-up {
  0% {
    transform: translateY(12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.project-flip-up {
  animation: flip-up 0.5s ease-out;
}
.project-flip-up > a,.project-flip-up > .topics {
  transform: translateY(12px);
  opacity: 0;
  animation: pure-flip-up 0.1s ease-out forwards;
  animation-delay: 500ms;
}

.project-flip-up > .more-info {
  transform: translateY(12px);
  opacity: 0;
  animation: pure-flip-up 0.1s ease-out forwards;
  animation-delay: 800ms;
}

.markdown-body ul {
  list-style: auto!important;
}