html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.description code {
  background: #785aeb;
  color: white;
  border-radius: 2px;
  padding: 2px;
  margin: 0 2px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#main-div {
  padding: 1rem;
}
#main-div.calendar {
  min-height: auto;
}

@media (max-width: 480px) {
  #main_container__alanmontgomery {
    padding: 0;
  }
}

.graph-before-activity-overview {
  border: none;
}
.js-calendar-graph {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  h2,
  h3 {
    padding-top: 80px;
  }
}
