.masonry {
  column-count: 1;
  column-gap: 20px;
}
@media screen and (min-width: 1600px){
  .masonry {
    column-count: 3;
  }
}
@media screen and (min-width: 640px){
  .masonry {
    column-count: 2;
  }
}

.hidden_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
