.markdown {
  max-width: 720px;
  margin: 0 auto;
  /* 下面是博客页面的Markdown样式 */
  p {
    // text-indent: 2rem;
    line-height: 2rem;
    word-spacing: 2px;
  }

  li {
    line-height: 1.8rem;
    word-spacing: 2px;
  }

  ul {
    display: block;
    margin-left: 2rem !important;
  }
  ul li p {
    text-indent: 0;
  }
  ul ul {
    margin-left: 1rem !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #404040;
    line-height: 36px !important;
    font-weight: bolder !important;
    display: block;
    margin: 2rem 1rem !important;
    /* font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important; */
  }

  h6:before,
  h2:before,
  h3:before,
  h4:before,
  h5:before {
    content: "の";
    color: #812ab6;
    display: inline-block;
    margin: 0rem;
    padding-right: 1rem;
    user-select: none;
  }
  h1 {
    margin-bottom: 18px;
    font-size: 40px !important;
  }
  h2 {
    font-size: 32px !important;
  }
  h3 {
    font-size: 28px !important;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 20px;
  }

  p code {
    display: inline-block;
    margin: 0 6px;
    padding: 0 4px;
    // border-bottom: 2px solid #661a8a6b;
    height: 1.6rem;
    line-height: 1.6rem;
    color: purple;
    background-color: #e9ccffaa;
    text-indent: 0 !important;
    border-radius: 2px;
  }

  input[type="checkbox"]:checked:after {
    content: "✓";
    vertical-align: middle;
    text-align: center;
    line-height: 14px;
    position: relative;
    cursor: pointer;
    height: 14px;
    width: 14px;
    left: 0;
    top: -0.6rem;
    font-size: 10px;
    /* line-height: 18px; */
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px #5f95fc, 0 1px 0 #5f95fc;
    -moz-box-shadow: inset 0 1px 1px #5f95fc, 0 1px 0 #5f95fc;
    box-shadow: inset 0 1px 1px #5f95fc, 0 1px 0 #5f95fc;
    background: #5f95fc;
  }

  p img {
    margin: 2rem 1rem;
  }

  ul {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  ul li {
    list-style-type: disc;
  }
  li li {
    list-style-type: circle;
  }
  blockquote {
    border-left: 4px solid #762aa7b8;
    margin: 40px 0;
  }
  blockquote p {
    background-color: #eef8f1;
    text-indent: 0;
    padding: 1rem;
    margin: 1.5rem 0;
    color: #676a67;
    word-break: break-all;
  }


  table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
    min-width: 50%;
    margin: 2rem auto;
  }
  td,
  th {
    border: 1px solid #ddd;
    padding: 15px 10px;
  }
  th {
    padding: 15px 10px;
  }

  a {
    color: #0069d6 !important;
    text-decoration: none !important;
  }
  a:hover {
    color: #0050a3 !important;
    text-decoration: none;
  }
  a img {
    border: none;
  }

  #tags div::before {
    content: "";
    position: relative;
    left: -0.2rem;
    display: inline-block;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background-color: #fff;
  }

  #msg {
    text-indent: 0;
    padding: 1rem;
  }

  @media screen and (max-width: 480px) {
    p {
      font-size: 14px;
    }
    h1 {
      font-size: 25px !important;
      /* line-height: 30px !important; */
      margin-bottom: 12px;
      overflow: hidden;
    }
    h1 {
      margin-bottom: 18px;
      font-size: 28px !important;
    }
    h2 {
      font-size: 22px !important;
    }
    h3 {
      font-size: 20px !important;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 14px;
    }
    h6:before,
    h2:before,
    h3:before,
    h4:before,
    h5:before {
      content: "の";
      color: #812ab6;
      display: inline-block;
      margin: 0 1rem 0rem 0;
      user-select: none;
    }
    h1 ~ h2,
    h2 ~ h3,
    h3 ~ h4,
    h4 ~ h5,
    h5 ~ h6 {
      text-indent: 0rem;
    }
    pre {
      position: relative;
      width: 100%;
      margin: 0 !important;
      // background-color: #fff!important;
      // padding-right: 12px!important;
      /* margin: 1rem auto !important; */
    }

    pre::before {
      height: 0.8rem;
      width: 0.8rem;
      left: 1rem;
    }

    pre::after {
      height: 0.8rem;
      width: 0.8rem;
      left: 2.5rem;
    }

    pre code {
      border-radius: 0.4rem;
      padding-bottom: 1rem !important;
      font-size: 0.8rem;
      overflow: auto;
    }

    pre code::after {
      height: 0.8rem;
      width: 0.8rem;
      left: 4rem;
    }

    ul {
      margin-top: 0.6rem !important;
      margin-bottom: 0.6rem !important;
      margin-left: 2.5rem !important;
    }
    p img {
      margin: 0 auto;
    }
    blockquote p {
      padding-left: 0.4rem;
      font-size: 0.8rem;
      margin: 0.4rem 0;
      line-height: 1.4rem;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #404040;
      /* line-height: 28px !important; */
      font-weight: bolder !important;
      display: block;
      /* margin: 1.6rem 0.8rem !important; */
    }
  }


  /* Tomorrow Theme */
  /* https://jmblog.github.io/color-themes-for-google-code-highlightjs */
  /* Original theme - https://github.com/chriskempson/tomorrow-theme */
  /* https://jmblog.github.io/color-themes-for-google-code-highlightjs */
  .tomorrow-comment, pre .comment, pre .title {
    color: #8e908c;
  }

  .tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #c82829;
  }

  .tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #f5871f;
  }

  .tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    color: #eab700;
  }

  .tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #718c00;
  }

  .tomorrow-aqua, pre .css .hexcolor {
    color: #3e999f;
  }

  .tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #4271ae;
  }

  .tomorrow-purple, pre .keyword, pre .javascript .function {
    color: #8959a8;
  }
  pre {
    padding: 0!important;
    margin-top: 0;;
  }
  pre code {
    display: block;
    background: white;
    color: #4d4d4c;
    font-family: Menlo, Monaco, Consolas, monospace;
    line-height: 1.5;
    // border: 1px solid #ccc;
    // padding: 10px;
    padding: 20px 12px!important;
  }
}
