.containers
  text-align: center
  margin: 0 auto
  @media screen and ( min-width: 1333px )
    width: 1100px

  p
    span
      color: skyblue
  h5
    margin: 1rem auto
  button
    color: white

.tagArea
  margin-bottom: 2rem
  button:nth-child(3n+1)
    background: linear-gradient(15deg,#745fb5,#9a6dbb)
  button:nth-child(3n+2)
    background: linear-gradient(15deg,#14af83,#15b89a)
  button:nth-child(3n+3)
    background: linear-gradient(15deg,#54799f,#6f8793)

.searchForm
  margin: 3rem auto
  width: 40rem
  min-weight: 40vw
