.containers
  margin: 30vh auto
  min-height: 40vh
  max-width: 1200px
  width: 60%
  text-align: center
  p
    span
      color: skyblue
  h5
    margin: 1rem auto
  button
    color: white

.tagArea
  margin-bottom: 2rem
  button:nth-child(3n+1)
    background: linear-gradient(15deg,#745fb5,#9a6dbb)
  button:nth-child(3n+2)
    background: linear-gradient(15deg,#14af83,#15b89a)
  button:nth-child(3n+3)
    background: linear-gradient(15deg,#54799f,#6f8793)

.searchForm
  margin: 3rem auto
  width: 40rem
  min-weight: 40vw
  input
    height: 2rem
    line-height: 2rem
    font-size: 1.1rem
    width: 80%
    outline: none
    border: none
    border-bottom: 1px solid grey
    text-align: center
    position: relative
    bottom: 2px
  button
    width: 20%
    height: 2rem
    line-height: 2rem
    font-size: 1.1rem
    background-color: #283ee6
    border-bottom-right-radius: .4rem
    border-top-right-radius: .4rem
